.castList {
  display: grid;
  grid-template-columns: repeat(auto-fit, 180px);
  gap: 10px;
  padding-bottom: 16px;
  justify-content: center;
  width: 100%;

}

.castList img {
  margin-bottom: 5px;
}

.castList p {
  font-size: 14px;
  line-height: 1.3;
}